# Virtual Environment
venv/

# Python Cache
__pycache__/
*.pyc

# VS Code
.vscode/

# SQLite
*.db

# Log
*.log

# Environment
.env

# Playwright Cache
playwright/.local-browsers/

# Scraped HTML
market*.html

# Database
*.db